.wireless-socket-name-container {
  float: left;
  width: 66%;
  height: 5rem;
}

.wireless-socket-state-container {
  float: right;
  width: 33%;
  height: 5rem;
}

.periodic-task-weekday-container {
  float: left;
  width: 50%;
}

.periodic-task-time-container {
  float: right;
  width: 50%;
}

.periodic-task-periodic-container {
  float: left;
  width: 50%;
}

.periodic-task-active-container {
  float: right;
  width: 50%;
}
