@media all and (min-width: 30rem) {
    .login form {
        margin: 0 auto;
        max-width: 20rem;
    }

    .login img {
        margin-left: 45%;
        width: 6rem;
        height: 6rem;
    }
}