@media all and (min-width: 480px) {
    .login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .login img {
        margin-left: 45%;
        width: 96px;
        height: 96px;
    }
}